* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Slab', serif;
}